body{
    width: 100%;
    height: 100%;
}
.gameDiv{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.leftSideBar {
    margin-right: 10%;
     display: inline-block;
     width: 20vw;
     height: 70vh;
     border: solid 2px black;
    position: absolute;
    top: 25%;
 }
#gameArea{
    height: 40vw;
    width: 70vh;
    background-color: dodgerblue;
    border: solid 2px black;
    transform: rotate(-90deg);
    position: absolute;
    left: 30%;
    top: 16%;
    display: inline-block;

}

#header{
    height: 20vh;
    width: 97vw;
    border: solid 2px black;
    position: relative;
    text-align: center;
    font-size: 6em;
}
.rightSideBar{
     display: inline-block;
     width: 25vw;
     height: 70vh;
     border: solid 2px black;
     position: absolute;
     top: 25%;
     right: 3%;
 }
.innerDiv {
    width: 15%;
    box-sizing: border-box;
    border: 1px solid black;
    height: 100%;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    background-color: mintcream;
    padding-left: 10px;
    padding-bottom: 10px;
}
.col0 , .col1 , .col2 , .col3 , .col4 , .col5 , .col6{
    height:14%
}
.player1 {
    background-color: red;
}
.playerSelect{
    list-style-type: none;
    width: 100%;
    height: 33.3%;
    font-size: 7em;
    text-align: center;

}
.p1{
    background-color: red;
}
.p2{
    background-color: blue;
}
.p3{
    background-color: yellow;
}
#leftBar{
    margin: 0;
    padding: 0;
}