
@font-face {
    font-family: pokemonSolid;
    src: url(pokemonSolid.ttf);
}
body{
    font-family: pokemonSolid;
    background-image: url("images/background.jpg ");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.gameDiv{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.leftSideBar {
    margin-right: 10%;
    display: inline-block;
    width: 20vw;
    height: 70vh;
    /*border: solid 2px black;*/
    position: absolute;
    top: 25%;
}
#gameArea {
    height: 50vw;
    width: 38vw;
    border-radius: 1vh;
    transform: rotate(-90deg);
    position: absolute;
    right: 20%;
    top: 3%;
    display: inline-block;
}
#header{
    height: 20vh;
    width: 97vw;
    position: relative;
    text-align: center;
    font-size: 5em;
    line-height: 10vh;
    color: yellow;
    padding-top: 2%;
    text-shadow: 1px 5px dodgerblue, 1px 5px dodgerblue, 1px 5px dodgerblue, 1px -5px dodgerblue;
    letter-spacing: 5px;
}
.rightSideBar{
    display: inline-block;
    width: 25vw;
    height: 70vh;
    border: solid 2px black;
    position: absolute;
    top: 25%;
    right: 3%;
}
.innerDiv {
    width: 15%;
    box-sizing: border-box;
    box-shadow: 3px 3px #320000;
    border: 1px solid black;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    background-color: mintcream;
    padding-left: 10px;
    padding-bottom: 10px;
}
.col0 , .col1 , .col2 , .col3 , .col4 , .col5 , .col6{
    height:14%
}
.playerSelect{
    list-style-type: none;
    width: 100%;
    font-size: 7em;
    text-align: center;
    height: 30%;
    margin-bottom: 2vh;
    padding-bottom: 4vh;
}
.p1{

}
.active1{
    border: orangered 3px dashed;
}

.active2{
    border: blue 3px dashed;
}

.active3{
    border: green 3px dashed;
}

img{
    position: absolute;
    right: 6vw;
    display: inline;
}
#leftBar{
    margin: 0;
    padding: 0;
    height: 75%;
}
.player1 {
    background-color: orangered;
    animation-name: bounceInRight;
    animation-duration: 3s;
}
.player2 {
    background-color: blue;
    animation-name: bounceInRight;
    animation-duration: 3s;
}

.player3 {
    background-color: green;
    animation-name: bounceInRight;
    animation-duration: 3s;
}
#reset{
    position: relative;
    top: 9vh;
    left: 5vw;
    background-color: yellow;
    width: 50%;
}

button:focus {
    outline:0;
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: none;
    }
}
h5{
    font-size: 5em;
    text-align: center;
}
#pikapika{
    position: relative;
    left: 20vw;
    height: 30%;
    width: 30%;
}
@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}

/*.modal {*/
    /*display: none; !* Hidden by default *!*/
    /*position: fixed; !* Stay in place *!*/
    /*z-index: 1; !* Sit on top *!*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%; !* Full width *!*/
    /*height: 100%; !* Full height *!*/
    /*overflow: auto; !* Enable scroll if needed *!*/
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*}*/

/*!* Modal Content/Box *!*/
/*.modal-content {*/
    /*background-color: #fefefe;*/
    /*margin: 15% auto; !* 15% from the top and centered *!*/
    /*padding: 20px;*/
    /*border: 1px solid #888;*/
    /*width: 80%; !* Could be more or less, depending on screen size *!*/
/*}*/
